/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    /* border: 2px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

* {
    /* border: 2px solid blue; */
    box-sizing: border-box;
    /* padding: 5px; */
}


/* ul {
    list-style-type: none;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* ul {
    display: flex;
    flex-direction: column;
} */

#form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list {
    height: 0;
    padding-top: 5px;
    border: 1px solid red;
    margin-top: 1px;
    /* height: 300px; */
    width: 80%;
    z-index: 1;
    /* position: relative;
    
    top: 0;
    left: 0; */
    /* background-color: #111; */
    overflow-y: scroll;
    transition: 0.2s;
    /* padding-top: 60px; */
    /* padding-left: 10px; */
    border: 1px solid rgb(230, 230, 230);
    border-radius: 6px;
    font-size: medium;

    opacity: 0;
    visibility: hidden;
}

.show {
    height: 300px;

    opacity: 1;
    visibility: visible;
}

#search-bar {
    /* border: 1px solid red; */
    /* background: #000; */
    height: 50px;
    width: 80%;
    /* margin-right: 20px; */
    padding-left: 10px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 6px;
    font-size: medium;
}

#search-bar:focus {
    outline: none;
}

.btn {
    /* margin-right: 15px; */
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(197, 197, 197, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    width: 18%;
    height: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: medium;
    font-weight: bold;
    color: rgb(66, 66, 66);
    background: rgb(238, 238, 238);
}

.main {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: whitesmoke;
    /* border: 2px solid grey; */
}

.border-and-shadow {
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.control {
    position: absolute;
    top: 1%;
    // left: 10%;
    /* height: 80px; */
    width: 70%;
    max-width: 700px;
    /* display: flex;
    flex-wrap: nowrap; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* border: 5px solid yellow; */
    background: white;
}

.tips {
    width: 100%;
    height: 30px;
    /* border: 1px solid grey; */
    /* background: #000; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    z-index: 2;
}

.tips:hover {
    background-color: rgb(241, 241, 241);
}

.log {
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase {
    // border: 1px solid grey;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background: white;
}

.float-window {
    width: 200px;
    height: 200px;
    border: 3px solid grey;
    position: absolute;
    /* margin: 20px; */
    right: 10px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(66, 66, 66);
    background-color: #fff;
    // opacity: 0;
}

.display-window {
    /* border: 2px solid palevioletred; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(66, 66, 66);
    // z-index: 0;
}

a {
    width: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

a:hover {
    text-decoration: none;

}

a:active {
    text-decoration: none;
}

@media only screen and (min-width: 1025px) {
    .float-window {
        // position: relative;
        top: 10px;
        // margin-top: 10px;
    }

    .control {
        left: 10%;
    }
}

@media only screen and (max-width: 1024px) {
    .float-window {
        width: 200px;
        height: 200px;
        border: 3px solid grey;
        position: absolute;
        /* margin: 20px; */
        right: 5px;
        bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(66, 66, 66);
    }

    .control {
        width: 95%;
        // left: 10%;
        // display: flex;
        // justify-self: center;
        // flex-wrap: nowrap;
        // justify-content: flex-start;
        // border: 1px solid red;
    }

    #form {
        justify-content: flex-start;
    }

    #search-bar {
        width: 80%;
        margin-right: 5px;
    }

    .btn {
        width: auto;
    }
}

// #container {
//     width: 100%;
//     height: 100%;
//     z-index: 0;
// }